<!DOCTYPE html>
<html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    </head>
    <body class="container">
       
       <div class="page-header">shop-app</div>

       <div id="box1" ng-app="shop">
          
           <div data-ng-controller="ShopController as sc" class="list-group">
               <!--View-->
                <div ng-hide="product.notAvailable" 
                     data-ng-repeat="product in products | limitTo:10 | orderBy:'price':true " class="list-group-item">
                    
                    <h3>{{product.name | uppercase}}</h4>  <!-- ${product.name} -->
                    <h4>{{product.price | priceDiscount:product.discount | currency : '&#8377;':2 }}</h4>
                    <button ng-show="product.canBuy" class="btn btn-primary">Buy</button>
                    <hr/>

                    <section ng-controller="TabsController">
                        
                        <ul class="nav nav-tabs">
                            <li ng-class="{active:isTabSelected(1)}"><a href ng-click="changeTab(1)">Description</a></li>
                            <li ng-class="{active:isTabSelected(2)}"><a href ng-click="changeTab(2)">Specification</a></li>
                            <li ng-class="{active:isTabSelected(3)}"><a href ng-click="changeTab(3)">Reviews</a></li>
                        </ul> 
                        
                        <div class="panel" ng-show="isTabSelected(1)">
                            <div class="panel-body">{{product.desc}}</div>
                        </div>  
                        <div class="panel"  ng-show="isTabSelected(2)">
                            <div class="panel-body">Not Yet</div>
                        </div> 
                        <div class="panel"  ng-show="isTabSelected(3)">
                          <div class="panel-body">None Yet</div>
                        </div>    
                         
                    </section>           

                </div>   
           </div>    
       </div>    

    
       <script src="bower_components/angular/angular.js"></script>
       <script src="js/app.js"></script>

    </body>
</html>